/*Defining all the page*/
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*Defining the body*/
body {
  margin: 0;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #001F3F;
  height: 60px;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin-left: 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar a:hover {
  color:  #6A9AB0; /* Orange color on hover */
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.material-icons {
  font-size: 2rem;
  color: white;
  transition: transform 0.5s ease-in-out;
}

.nav_link:hover, 
.nav_link:focus{
    color: #fff;
}


@media (max-width: 768px) {
  .nav-bar {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #001F3F;
      opacity: 0;
      transform: translateY(-10px);
  }

  .nav-bar.active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
  }

  .hamburger {
      display: flex;
  }

  .nav-bar ul {
      flex-direction: column;
      width: 100%;
  }

  .nav-bar li {
      text-align: center;
      margin: 10px 0;
  }

  .nav-bar a {
      font-size: 1.2rem;
      padding: 10px;
      display: block;
      width: 100%;
  }
}


/*Hero Section Aka profile section*/
#profile {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 5rem;
}

.header2{
  color: #001F3F;  
  font-weight: 600; 
}

#developer{
  margin-top: 5px;
}

#roan{
  height: 208px;
  width: 208px;
  border-radius: 25px;
}

/*Buttons*/
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 9rem;
  border-radius: 2rem;
  color: #001F3F;
}

.btn-color-1,
.btn-color-2 {
  border: #001F3F 0.1rem solid;
}


.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #001F3F;
  color: white;
}  

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/*Icons*/
.icon-container{
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}

#linkedin{
  height: 2rem;
}

#github{
  height: 2rem;
}

.icon{
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
}

/*Media query for the profile section*/
@media (max-width: 768px) { 
  #profile {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 2rem;              /* Adjust gap between elements */
    text-align: center;     /* Center align text */
  }

  .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/*About Me Section*/
#aboutMe {
  display: flex;
  flex-direction: column; /* Adjusting for smaller screens */
  justify-content: center;
  align-items: center;
  height: auto; /* Use auto to adjust height based on content */
  margin-top: 10rem;
  padding: 2rem 40px; /* Combined padding for simplicity */
  background: #001F3F;
  border-radius: 25px;
  border: 2px solid #001F3F;
  margin: 5rem; /* Combined margins for simplicity */
  text-align: center; /* Center align text for better readability on small screens */
}

#whoAmI {
  color: #6A9AB0;
  font-weight: 800;
}

.aboutMe-Hero p {
  color: #fff;
  margin-top: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #aboutMe {
    margin: 2rem;
    padding: 1rem 20px;
    border-radius: 15px; /* Slightly reduce border radius for smaller screens */
  }

  .aboutMe-Hero p {
    font-size: 1rem; /* Adjust font size for readability on smaller screens */
  }
}


/*Skills section*/
.skill-Hero{
  margin-top: 50px;
}

.skill-Hero div {
  margin-top: 10px;
}

.tech {
  display: flex;
  flex-direction: row; /* Adjusting for smaller screens */
  justify-content: center;
  align-items: center;
  background: white;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: 5px solid white;
  gap: 5px;
}

#all{
  display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px;
}

@media (max-width: 768px) { 
  #all{
    display: block;
  }
}

/*Project Section*/
#project {
  display: flex;
  flex-direction: column; /* Adjusting for smaller screens */
  justify-content: center;
  align-items: center;
  height: auto; /* Use auto to adjust height based on content */
  margin-top: 10rem;
  padding: 2rem 40px; /* Combined padding for simplicity */
  background: #6A9AB0;
  border-radius: 25px;
  border: 2px solid #6A9AB0;
  margin: 5rem; /* Combined margins for simplicity */
  text-align: center; /* Center align text for better readability on small screens */
  gap: 10px;
}

#project h2 {
  color: white;
  font-weight: 800;
}

/*Card Component*/
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card{
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow:hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img{
  width: 100%;
  height: auto; 
}

.card-content{
  padding: 16px;
}

.card-content h3{
  font-size: 25px;
  margin-bottom: 8px;
}

.card-content p{
  font-size: 15px;
}

/* For smaller screens */
@media (max-width: 450px) {
  .card-container {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    padding: 0 16px; /* Padding around the container for spacing */
    gap: 16px; /* Add consistent gap between cards */
  }

  .card {
    margin: 0 auto; /* Center each card within the container */
    width: 162px; /* Adjust card width to fit smaller screens */
  }
}



/*Contact Section*/
#contact-me {
  display: flex;
  flex-direction: column; /* Adjusting for smaller screens */
  justify-content: center;
  align-items: center;
  height: auto; /* Use auto to adjust height based on content */
  margin-top: 10rem;
  padding: 2rem 40px; /* Combined padding for simplicity */
  background: #001F3F;
  border-radius: 25px;
  border: 2px solid #001F3F;
  margin: 5rem; /* Combined margins for simplicity */
  text-align: center; /* Center align text for better readability on small screens */
}

#contact-me h2 {
  color: #6A9AB0;
  font-weight: 800;
}

input {
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  width: 250px;
}

textarea{
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #ccc;
  width: 250px;
  min-height: 100px; /* Set the minimum height */ 
  max-width: 100%; /* Set the maximum width to 100% of the container */
  resize: vertical;
}

.contact-form { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 15px; /* Adjust the gap as needed */ 
  padding: 20px; 
  margin: 0 auto; 
  max-width: 400px; /* Adjust max width as needed */
}

.button-form{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 9rem;
  border-radius: 2rem;
  background: #6A9AB0;
  color: white;
  cursor:pointer;
  border: #6A9AB0  0.1rem solid;
}

@media (max-width: 450px) {

  input {
      width: 150px;
      height: auto;
  }

  textarea{
    width: 150px;
    height: auto;
  }
}

/*Footer Section*/
.footer {
  background-color: #001F3F;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 10px 0;
}

.social-media {
  margin: 10px 0;
}

.social-media a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-media a:hover {
  color:  #6A9AB0; /* Orange color on hover */
}

.footer-nav {
  margin: 10px 0;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer-nav a:hover {
  color:  #6A9AB0; /* Orange color on hover */
}

@media (min-width: 768px) {
  .footer-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .footer-nav {
      margin-left: auto;
  }
}
